/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.control-label{
    
}
.menu-list {
    
}
td > a{
    color:black;
}
.title {
    font: #cd0a0a;
    
}
    .menu-list > li{
        font-size: 32px;
        text-align: center;
        list-style-type: none;
        text-transform: uppercase;
        border: 5px solid #eb8f8f;
        margin:5px;
        
        /*
        background-color: #f1f3de;

        */
        background-image: linear-gradient(30deg,#f1f3de,#eb8f8f);
    }
th {
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    border: 5px solid #eb8f8f;
    margin: 5px;
    text-align:left;
    /*
        background-color: #f1f3de;

        */
    background-color: #f1f3de;
    
    
}
tr {
    background-image: linear-gradient(30deg,#f1f3de,#eb8f8f);
    
}
td {
    color: black;
    margin: 5px;
}
p > a {
    color:#eb8f8f;
    margin: 5px;
    background-color: #ec0101;
    font-size:30px;
    padding:10px;
}
.menu-list > li > a {
    color: #ec0101;
}
.menu-list > li > a:visited {
    color: #cd0a0a;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
