/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.control-label{
    
}
.menu-list {
    
}
td > a { /*opcje edycji*/
    color: #ec0101;
}
    td > a:hover {
        color: #ec0101;
    }
.title {
    font: #cd0a0a;
    
}
.menu-list > li {
    font-size: 32px;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    border-right: 5px solid #ec0101;
    border-left: 5px solid #ec0101;
    margin: 5px;
   
    background-color: #f1f3de;s
}
    .menu-list > li :hover {
     
        color: #f1f3de;
        background-color: #ec0101;
    }
        .menu-list > li > a:hover {
            background-color: #ec0101;
            color: #f1f3de;
        }
    .menu-list > li > a {
        color: #ec0101;
    }


th { /*index etykiety*/
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    border-bottom: 5px solid #ec0101;
    margin: 5px;
    text-align: left;
   
    color: #f1f3de;
    background-color: #ec0101;
}

dl > dt /*details etykiety*/ {
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    color: #ec0101; 
    margin: 5px;
    text-align: left;
  
*/
}
form > a { /*return to index in delete*/
    color: #ec0101;
}
form > a {
    color: #ec0101;
}
dl > dd {/*details pola*/
    
}

tr { /*linia w index*/
    
    
}
td { /*krotka w index*/
    color: black;
    margin: 5px;
}
p > a { /*button new*/
    color: #f1f3de;
    margin: 5px;
    background-color: #ec0101;
    font-size: 30px;
    padding: 10px;
}
    p > a:hover { /*button new najechanie mysza*/
        color: #f1f3de;
    }

div > a { /*return form edit*/
    color: #ec0101;
    margin: 5px;
   
}
div > a:hover{ /*return form edit*/
    color: #ec0101;
 
}
input[type=submit] { /*wyslij formularz*/
    background-color: #ec0101;
    color: #f1f3de;
    border-color: #ec0101;
}
input[type=submit]:hover { /*wyslij formularz*/
    background-color: #ec0101;
    color: #f1f3de;
    border-color: #ec0101;
}
div > label {
    color: #ec0101;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
