
@{
    Layout= "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Index";
}
<ul class="menu-list">
    <li><a asp-controller="Adres" asp-action="Index">Adres</a></li>
    <li><a asp-controller="Badania" asp-action="Index">Badanias</a></li>
    <li><a asp-controller="Bank" asp-action="Index">Bank</a></li>
    <li><a asp-controller="Donacja" asp-action="Index">Donacja</a></li>
    <li><a asp-controller="Donator" asp-action="Index">Donator</a></li>
    <li><a asp-controller="Karta" asp-action="Index">Karta</a></li>
    <li><a asp-controller="Osoba" asp-action="Index">Osoba</a></li>
    <li><a asp-controller="Pacjent" asp-action="Index">Pacjent</a></li>
    <li><a asp-controller="Pielegniarka" asp-action="Index">Pielegniarka</a></li>
    <li><a asp-controller="Transfuzja" asp-action="Index">Transfuzja</a></li>
    <li><a asp-controller="Typ" asp-action="Index">Typ donacji</a></li>
    <li><a asp-controller="worek" asp-action="Index">worek</a></li>
</ul>

